.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 25%;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
 
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.form-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0069d9;
}

.form-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
.wide{
  width:80%;
  padding: auto;
  
  
}
